.logo{
  width: 310px;
  height: 64px;
  margin-bottom: 64px;
}

.sidebar{
  width: 360px;
  height: 100vh;
  padding: 32px;
  background-color: #ffff;
  border-radius: 0 36px 36px 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.menu{
    list-style: none;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    cursor: pointer;
    padding: 14px;
    transition: background-color 0.3s, color 0.3s;

}

.menu-item:hover{
    background-color: var(--accent-colour);
    color: var(--primary-colour);
}

.menu-icon{
    width: 20px;
    height: 20px;
}

.menu-text{
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-colour);
}

.menu-title{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin: 24px 0 12px 4px;
    color: var(--primary-colour);
}