/* Main Grid Layout */

.dashboard-grid {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
    min-height: 100vh;
    gap: 0;
}

.main-content {
    grid-area: main;
    padding: 2rem;
    overflow-y: auto;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
        'c1 c2 c3 c4'
        'g1 g1 g2 g2'
        'g1 g1 g2 g2';
    gap: 1.5rem;
}

.bar-chart {
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid var(--secondary-colour);
    border-radius: 10px;
    padding: 2.6rem;
}

.pie-chart {
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid var(--secondary-colour);
    border-radius: 10px;
    padding: 2.6rem;
}


@media (max-width: 1700px) {
    .content-grid {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
        grid-template-areas:
            'c1 c2 '
            'c3 c4'
            'g1 g1'
            'g1 g1'
            'g2 g2'
            'g2 g2';
    }

}

/* Sidebar styles */

.logo {
    width: 310px;
    height: 64px;
    margin-bottom: 64px;
}

.sidebar {
    width: 360px;
    padding: 32px;
    background-color: #ffff;
    border-radius: 0 36px 36px 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: sticky;
    grid-area: sidebar;
}

.menu {
    list-style: none;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    cursor: pointer;
    padding: 14px;
    transition: background-color 0.3s, color 0.3s;

}

.menu-item:hover {
    background-color: var(--accent-colour);
    color: var(--primary-colour);
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.menu-text {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-colour);
}

.menu-title {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin: 24px 0 12px 4px;
    color: var(--primary-colour);
}

/* Mobile Sidebar styles */
@media (max-width: 981px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 1fr;
        grid-template-areas:
            'sidebar'
            'header'
            'main';
    }

    .sidebar-mobile {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin: 0;
        display: flex;
        width: 248px;
        height: 48px;
    }

    .menu-button {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;

        margin: 10px;
        cursor: pointer;
        background-color: transparent;
        border-width: 0;
    }
}

/* Header styles */
.header {
    font-family: 'Manrope', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--primary-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    border-bottom: 1px solid var(--secondary-colour);
}