/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* End of CSS Reset */

/* Global Styles */
:root{
  font-family: 'Manrope', Tahoma, Geneva, Verdana, sans-serif;
  --background-colour: #F5F7FA;
  --primary-colour: #214984;
  --secondary-colour: #838383;
  --accent-colour: #E9F1FF;
  --border-colour: #dbd9d9d8;
  --card-background: #ffff;
}